@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web extractor</h1>

    <h2>Task 1 <small>Web Extraction</small></h2>
    <p class="lead">
        Write a data extractor that reads out content from extraction.booking.html and extracts the below listed
        information.
        The attached screen capture (screencapture-www-booking-com.png) explains the colors below:

        <ul>
            <li>Hotel name (red)</li>
            <li>Address (red)</li>
            <li>Classification / stars (red)</li>
            <li>Review points (pink)</li>
            <li>Number of reviews (pink)</li>
            <li>Description (blue)</li>
            <li>Room categories (green)</li>
            <li>Alternative hotels (yellow)</li>
        </ul>
    </p>

    <blockquote>
        <p>Task 1 is implemented using html forms, Task 2 using jQuery Ajax.</p>
        <footer>Note: Frankly, I didn't implement validations, status codes, proper response objects, json serialization namings, exception handling, and blockUI functionality to save time...</footer>
    </blockquote>

    <h2>Task 2 <small>Reporting</small></h2>
    <p class="lead">
        Generate an excel report based on raw data (hotelrates.json) that has a similar structure to the screen capture
        (screencapture-excel-report.png).
        LOS = length of stay (number of room nights)
        The column BREAKFAST_INCLUDED is a Boolean variable (1: breakfast included, 0: breakfast excluded).
    </p>

    <blockquote>
        <p>Task 2 is implemented using jQuery Ajax to call an API instad of traditional form posting.</p>
    </blockquote>
</div>